.logo_h > img {
  height: 65px;
}

.intro-tag {
  font-weight: 800;
  text-decoration: underline;
  color: #FFF;
}

.submit-card {
  background: #65b5ff;
  padding: 10px;
  color: white !important;
  font-weight: 400;
  border-radius: 10px;
}

.hidden {
  display: none;
}

.highlight {
  color: #facb64;
}

.steps {
  text-align:left;
  list-style: decimal;
  margin-bottom: 0px;
}

.steps > li {
  padding: 10px;
}

@media (max-width: 767px) {
  .border-line-cont {
    display: none;
   }
}
