.logo_h > img {
  height: 65px;
}

.intro-tag {
  font-weight: 800;
  text-decoration: underline;
  color: #FFF;
}

.submit-card {
  background: #65b5ff;
  padding: 10px;
  color: white !important;
  font-weight: 400;
  border-radius: 10px;
}

.hidden {
  display: none;
}
